*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS';
}

.Imagenes-Encabezado{
    height: 25vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
    background-color:rgb(202, 48, 9);
    border: brown;
    border-style: double ;
}

#logo{
    background-color: rgb(216, 134, 27);
    border-style: double;
    border-color: brown;
}

.container-flex{    
    height: 75vh;
    background-color: beige;
    box-sizing: border-box;
    display: flex;
}

h1{
    display: flex;
    background-color:rgba(143, 49, 14, 0.389);
    font-weight: bold;
    font-size: 3rem;
    color: rgb(236, 209, 11);
    text-align: center;
}

