*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS';
}

header{
    min-height: 10vh;
    gap: 0.5rem;
    display: flex;
    background-color: beige;
    padding: 0.5rem;
    background-color:rgba(202, 106, 9, 0.675);
}

#logo{
    width: 10rem;
    height: 10rem;
    align-items: stretch;
    border: brown;
    border-style: double;
    background-color: rgb(216, 134, 27);
    border-style: double;
}

h1{
    width: 80rem;
    align-self: center;
    font-weight: bold;
    font-size: 3rem;
    color: rgb(236, 209, 11);
    text-shadow: 2px 2px rgb(202, 48, 9);
    text-align: center;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-self:flex-end;
    height: 2rem;
}

nav a{
    width: 10rem;
    height: 2rem;
    justify-content: space-around;
    background-color:rgba(228, 130, 11, 0.611);
    border-style: double;
    border-color: brown;
    text-align: center;
    color: rgb(128, 23, 23);
    text-decoration: none;
    border-radius: 15px;
    padding-top: 5px;
}

main{
    min-height: 80vh;
    padding: 0.5rem;
    background-color: beige;
}

h2{
    align-self: flex-start;
    background-color:rgba(228, 130, 11, 0.611);
    border-style: double;
    border-color: brown;
    font-weight: bold;
    text-align: center;
    font-size: 2rem;
    color: rgb(80, 46, 5);
    margin-bottom: 1rem;
}

.imagenes-hockey{
    display: flex;
    width: 15rem;
    height: 15rem;
    object-fit: cover;
}

img{
    padding: 1rem;
}

h3{
    text-align:left;
    font-size: 1.5rem;
    color: rgb(80, 46, 5);
    text-shadow: 2px 2px rgb(202, 48, 9);
    padding: 1rem;
}

h4{
    text-align:left;
    font-size: 1.5rem;
    color: rgb(80, 46, 5);
    text-shadow: 2px 2px rgb(202, 48, 9);
    padding-left: 1rem;
}

.titulos2{    
    text-align:left;
    flex-direction: column;
    font-size: 1.5rem;
    color: rgb(80, 46, 5);
}

.container-flex{    
    display: flex;
    flex-direction: column;
    width: 1450px;
    height: 400px;
    background-color: rgba(165, 42, 42, 0.393);
    gap: 0.5rem;
    padding: 1rem;
}

article{
    display: flex;
    width: 1450px;
    height: 600px;
    flex-direction: row;
    padding: 0.5rem;
    height: 4rem;
    align-items: baseline;
}

.container-flex-xl{    
    display: flex;
    flex-direction: column;
    width: 1450px;
    height: 700px;
    background-color: rgba(165, 42, 42, 0.393);
    gap: 1rem;
    padding: 1rem;
}

table{
    background-color: rgba(217, 30, 30, 0.393);
    border-collapse: collapse;
    text-align: center;
}

thead{
    background-color: rgba(120, 12, 12, 0.393);
}

.txt{
    display: flex;
    width: 1400px;
    height: 600px;
    flex-direction: row;
    padding: 1rem;
    height: 16rem;
    flex-direction: column;
}

p{
    justify-content: center;
    font-size: 1rem;
}

h5{
    justify-content: center;
    font-size: 1.5rem;
    color: rgb(184, 108, 15);
    text-shadow: 2px 2px rgb(202, 48, 9);
}

