*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-image: url(../ImagenesT2/design1_image1.jpg);

}

h1{
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(211, 149, 33);
}

#nav1{
    background-image: url(../ImagenesT1/hockey_1.jpg);
}
#nav2{
    background-image: url(../ImagenesT1/hockey_2.jpg);
}
#nav3{
    background-image: url(../ImagenesT1/hockey_3.jpg);
}
nav{
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

main {
    background-color: beige;
}